@import '../../styles/constants';

.layout {
  width: 50rem;
  background-color: $page-background-color;
  user-select: none;
  .search {
    align-self: flex-start;
    width: 20rem;
    margin: 10px;
  }
  .boardsWrapper {
    display: flex;
    justify-content: space-between;
  }
  .button {
    align-self: flex-end;
    margin: 10px;
  }
}
