@import '../../styles/constants';

.item {
  width: 100%;
  font-size: 0.9rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 1rem;
  border-radius: 6px;
  height: 2.5rem;
  background-color: $page-background-color;
  margin: 5px 0;
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .button {
    width: 2rem;
    height: 1rem;
    background-color: transparent;
    &:hover {
      color: $logo-color;
    }
  }
}
